@using WebSiteBanSach.Models
@model List<NhaXuatBan>
@*Css cho trang chủ ở trong thư mục content*@
<link href="~/Content/TrangChuCss.css" rel="stylesheet" />
@{
    ViewBag.Title = "DanhMucNXB";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}
@*Ẩn div chủ đề và div nhà xuất bản bên dưới*@
<style>
    #divChuDeVaNXB {
        display: none;
    }
</style>
<hr />
<h2 style="margin-left:2%;font-weight:normal;color:black">Danh mục Nhà xuất bản</h2>
<hr />
<div style="clear:both"></div>
<div id="SanPham" style="width:100%">
    @*Hiển thị danh mục nhà xuất bản*@
    <div style="float:left;width:30%;">
        @foreach (var item in Model)
        {
            <div class="itemNXB"><i class="fa fa-book"></i><a href="@Url.Action("SachTheoNXB", new { @MaNXB=item.MaNXB })"><h3> @item.TenNXB</h3></a></div>
            <br />

        }
    </div>

</div>
<div style="clear:both"></div>