<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
        <h1 class="text-center login-title">Sign in to continue........</h1>
        <div class="account-wall">
            <!--<img class="profile-img" src="../../HinhAnh/warning.png" alt="">-->
            <form class="form-signin" ng-submit="loginAndGetAccessToken()">
                <input type="text" class="form-control" placeholder="user name" required autofocus ng-model="userName">
                <input type="password" class="form-control" placeholder="Password" required ng-model="password">
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Sign in
                </button>
                <label class="checkbox pull-left">
                    <input type="checkbox" value="remember-me">
                    Remember me
                </label>
                <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                <button class="btn btn-success" ng-click="goSignup()">Create an account(if haven't) </button>
            </form>
		<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
            	</fb:login-button>
        </div>

    </div>
  
</div>

 <script>

      function statusChangeCallback(response) {
        console.log('statusChangeCallback');
        console.log(response);
        // The response object is returned with a status field that lets the
        // app know the current login status of the person.
        // Full docs on the response object can be found in the documentation
        // for FB.getLoginStatus().
        if (response.status === 'connected') {
            // Logged into your app and Facebook.
            //testAPI();
            console.log('Logged in.');
            window.location.href = "http://localhost:20232/#/home";

        } else {
            if (response.status === 'not_authorized') {
                // The person is logged into Facebook, but not your app.
                //document.getElementById('status').innerHTML = 'Please log ' +
                //  'into this app.';
                FB.login();
                //if (response.status === 'connected') {
                //    // Logged into your app and Facebook.
                //    //testAPI();
                //    window.location.href = "http://localhost:56261/#/home";
                //} else {
                //    window.location.href = "http://localhost:56261/#/index";
                //}

                //statusChangeCallback(response);
            } else {
                // The person is not logged into Facebook, so we're not sure if
                // they are logged into this app or not.
                //document.getElementById('status').innerHTML = 'Please log ' +
                //  'into Facebook.';
                FB.login();
                //if (response.status === 'connected') {
                //    // Logged into your app and Facebook.
                //    //testAPI();
                //    console.log('3.1');
                //    window.location.href = "http://localhost:56261/#/home";
                //} else {
                //    console.log('3.2');
                //    window.location.href = "http://localhost:56261/#/index";
                //}

                //window.location.href = "http://localhost:56261/#/index";
                //statusChangeCallback(response);
            }
        }
    }

    // This function is called when someone finishes with the Login
    // Button.  See the onlogin handler attached to it in the sample
    // code below.
    function checkLoginState() {
        FB.getLoginStatus(function (response, $scope) {
            statusChangeCallback(response);
            if (response.status === 'connected') {
                FB.api('/me', function (response) {
                    //$scope.titleUser = response.name;
                    alert("Name: " + response.name);
                    //var img_link = "http://graph.facebook.com/" + response.id + "/picture"
                });
                //scope.titleUser = respone.data.userName;
            }
        });
        //window.location.href = "http://localhost:20232/#/home";
    }

    window.fbAsyncInit = function () {
        FB.init({
            appId: '143335569372495',
            xfbml: true,
            version: 'v2.5'
        });

        //FB.getLoginStatus(function (response) {
        //    //if (response.status === 'connected') {
        //    //    console.log('Logged in.');
        //    //}
        //    //else {
        //    //    FB.login();
        //    //}
        //    statusChangeCallback(response);

        //});
    };
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>